<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Services</h1>
    <span class="separador"></span>
    <button  matTooltip="Menu de navegação" mat-button [matMenuTriggerFor]="menuFuncionarios">Menu de Navegação</button>
    <mat-menu #menuFuncionarios="matMenu">
      <a mat-menu-item routerLink="/funcionarios">Funcionários</a>
      <a mat-menu-item routerLink="/cargos">Cargos</a>
      <a mat-menu-item routerLink="/clientes">Clientes</a>
      <a mat-menu-item routerLink="/chamados">Chamados</a>
      <a mat-menu-item routerLink="/pagamentos">Pagamentos</a>
    </mat-menu>

    <button matTooltip="logoff"mat-icon-button (click)="openDialogConfirmExit()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
