<div class="loader" *ngIf="pagamento == undefined; else principal">
  <p>{{ naoEncontrado == true ? 'Pagamento não encontrado' : 'Procurando pagamento...' }}</p>
  <mat-spinner mode="indeterminate" color="primary" *ngIf="naoEncontrado == false"></mat-spinner>
</div>
<ng-template #principal>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Editar Pagamento</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <form action="" [formGroup]="formPagamentos" (ngSubmit)="salvarAtualizacoes()">

        <mat-form-field appearance="fill">
          <mat-label>Id do Chamado</mat-label>
          <input 
          type="text" 
          matInput 
          placeholder="id Chamado corrigido" 
          formControlName="idPagamento"
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Valor</mat-label>
          <input
            type="number"
            matInput
            placeholder="0"
            formControlName="valor"
          />
          <span matPrefix>R$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Forma de Pagamento</mat-label>
          <input type="text" matInput formControlName="formPagamento"/>
        </mat-form-field>
       
        <mat-form-field appearance="fill">
          <mat-label>Status do Pagamento</mat-label>
          <mat-select [formControl]="selected" formControlName="status">
            <mat-option value="LANCADO">LANCADO</mat-option>
            <mat-option value="QUITADO">QUITADO</mat-option>
          </mat-select>
        </mat-form-field>
  
        <button  
        type="submit" 
        mat-raised-button 
        color="accent" 
        id="salvar"
        [disabled]="desabilitar"
        >Atualizar Pagamento</button>
      </form>
    </mat-card-content>
  </mat-card> 
</ng-template>