<div class="sidebar">
 <form action ="" [formGroup]="formChamados">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Editar Chamado</mat-card-title>       
      </mat-card-header>
                     
      <mat-form-field appearance="fill">
        <mat-label>Titulo</mat-label>
        <input type="text" matInput placeholder="Novo Titulo" formControlName="titulo">
      </mat-form-field>
          
      <mat-form-field appearance="fill">
          <mat-label>Descricao</mat-label>
          <input type="text" matInput placeholder="Descrição" formControlName="descricao">
      </mat-form-field>
        

      <mat-form-field appearance="fill">
        <mat-label>Status do Chamado</mat-label>
        <mat-select formControlName="status">
          <mat-option value="RECEBIDO">RECEBIDO</mat-option>
          <mat-option value="ATRIBUIDO">ATRIBUIDO</mat-option>
          <mat-option value="CONCLUIDO">CONCLUIDO</mat-option>
          <mat-option value="ARQUIVADO">ARQUIVADO</mat-option>
        </mat-select>
      </mat-form-field>
        
    <button 
      [disabled]="desabilitar" 
      type="submit" 
      mat-raised-button 
      color="warn" 
      [mat-dialog-close]="true">Salvar Alterações
    </button>
    
    <button  
      type="submit" 
      mat-raised-button 
      color="primary" 
      [mat-dialog-close]="false">Cancelar
    </button>
  
         
    </mat-card>
  </form>
</div>