<div class="sidebar">

  <form action="" [formGroup]="formOffice">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Novo chamado</mat-card-title>
      </mat-card-header>

      <mat-form-field appearance="outline">
        <mat-label>Chamado</mat-label>
        <input type="text" matInput formControlName="nome" name="cargo" />
        <mat-error>
          <span> Campo obrigatório! </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <input
          type="text"
          matInput
          formControlName="descricao"
          name="descricao"
        />
        <mat-error>
          <span> Campo obrigatório! </span>
        </mat-error>
      </mat-form-field>

      <button 
      [disabled]="disabledButton" 
      type="submit" 
      mat-raised-button 
      color="warn" 
      [mat-dialog-close]="true">Atualizar chamado
    </button>
    
      <button  
      type="submit" 
      mat-raised-button 
      color="primary" 
      [mat-dialog-close]="false">Cancelar
    </button>

    </mat-card>
  </form>
</div>
